<!-- Footer -->
<footer class="footer">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse text-center" class="lowerContent">
        <div class="row justify-content-center">
            <!-- About -->
            <div class="col-md-4">
                <h3 class="about">About</h3>
                This site was created by a team of dedicated students.  We all banded together to challenge ourselves and one another using the skills aquired from our time within the UNCC Coding Bootcamp.  We hope you all enjoy and please give our app a try and get outside with some friends!
            </div>
    
            <!-- Contact -->
            <div class="col-md-4" class="informationArea">
                <h3 class="github"><a href="https://github.com/mramsey1992/charlotte_discgolf" target="_blank" class="githubLink">GitHub<img src="/images/githubv3.png" alt="Github-logo" class="github-image"></a></h3>
            </div>
        </div>
    </nav>
</footer>
