<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charlotte Disc-Golf</title>
    {{!-- Bootstrap Link --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Font Awesome --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    {{!-- Bootstrap-social CSS Link --}}
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-social.css">
    {{!-- CSS Link --}}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{!-- Favicon --}}
    <link rel="icon" href="/images/favicon.png" type="image/png">
    {{!-- jQuery Link --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
    {{!-- JavaScript Link --}}
    <script src="/js/script.js"></script>
</head>
<body>
    {{!-- Navbar --}}
    {{> header}}

    {{{body}}}

    {{!-- Footer --}}
    {{> footer}}

</body>
</html>